@model ForgotPasswordViewModel

<h2>Восстановление пароля</h2>
<p>Введите адрес электронной почты, связанный с вашей учетной записью, чтобы получить ссылку для восстановления пароля.</p>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Введите email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Отправить</button>
</form>
