@{
    ViewData["Title"] = "Оплата отменена";
}

<div class="alert alert-warning text-center mt-5">
    <h4 class="alert-heading">Оплата отменена</h4>
    <p>@ViewBag.Message</p>
    <a href="/cart" class="btn btn-primary mt-3">Вернуться в корзину</a>
</div>
