@{
    ViewData["Title"] = "Успешная покупка";
}

<h1>Спасибо за вашу покупку!</h1>
<p>Ваши товары были успешно куплены. Мы скоро свяжемся с вами.</p>

<a href="/" class="btn btn-primary">Вернуться в магазин</a>
