html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.order-summary {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.total-amount {
  font-size: 1.5em;
  font-weight: bold;
}

.form-group {
  margin-top: 20px;
}

.payment-delivery-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-option {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.delivery-options, .delivery-form {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.delivery-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#checkout-button {
  background-color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#checkout-button:hover {
  background-color: #333;
}

